.Weather {
  font-family: Google Sans, Roboto, arial, sans-serif;
  border: 2px solid black;
  padding: 20px;

  border-radius: 15px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  margin: 20px 0 0 0;
  color: maroon;
  font-size: 24px;
  font-weight: 400;
}
.Weather ul {
  margin: 0%;
  padding: 0%;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  color: gray;
  font-size: 50px;
}
.Weather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -22px;
  line-height: 2px;
}
