.Weather {
  background: rgb(1, 11, 19);
  background: linear-gradient(
    31deg,
    rgba(1, 11, 19, 1) 0%,
    rgba(10, 58, 68, 1) 46%,
    rgba(2, 10, 7, 1) 60%,
    rgba(0, 71, 39, 1) 93%
  );
  font-family: "Roboto", sans-serif;
  border: 2px solid black;
  padding: 40px;
  border-radius: 30px 15px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather .btn-primary {
  background-color: black;
  color: rgb(177, 243, 229);
  border: none;
}
.Weather .btn-primary:hover {
  background-color: rgb(177, 243, 229);
  color: black;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: 10px 2px rgba(223, 243, 183, 0.651);
}
.Weather h1 {
  margin: 20px 0 0 0;
  color: rgb(159, 250, 223);
  font-size: 24px;
  font-weight: 400;
}
.Weather ul {
  margin: 0%;
  padding: 0%;
}
.Weather li {
  color: aliceblue;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb(211, 207, 207);
  font-size: 55px;
}
.Weather canvas {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}
.Weather .unit {
  color: aliceblue;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -22px;
  line-height: 2px;
}
